
#
# Module configuration file for
# Quizlet
# (com.sirMiggy.quizlet)
#

displayname: Quizlet
moduletype: widgetapplication
depends: com.eqela.libcommonwidget
depends: com.eqela.libtextinputwidget
depends: com.eqela.libselectorwidget
depends: com.eqela.libdialogwidget
depends: com.eqela.libpopupwidget
depends: com.eqela.libapplicationdata
depends: com.eqela.libstringutil
depends: com.eqela.libscrollerwidget